<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>NLG16 Demo</title>
<script>
function outputUpdate(x, selector) {
    document.querySelector(selector).value =x;
}
</script>


</head>

<body>
<h1>NLG16 Demo</h1>


<form action="/" method="post">
    <p>
        {{ form.syntactic.label }}:
        {{ form.syntactic(min=-10, max=10, oninput="outputUpdate(value, '#selected-syntactic')") }}
        <output for="syntactic" id="selected-syntactic">{{ form.syntactic.data }}</output>
    </p>

    <p>
       {{ form.semantics.label }}:<br/>
       {{ form.semantics(width=80) }}
    </p>

     <button id="submit" name="submit" type="submit" class="btn btn-primary">Submit</button>
</form>




<hr>
<address></address>
<!-- hhmts start -->Last modified: Mon Jul 18 18:47:38 CEST 2016 <!-- hhmts end -->
</body> </html>
